[submodule "sadet"]
	path = sadet
	url = https://github.com/Joyersch/sadet.git
[submodule "sadet.autodb.service"]
	path = sadet.autodb.service
	url = https://github.com/Joyersch/sadet.autodb.service.git
[submodule "sadet.autodb.api"]
	path = sadet.autodb.api
	url = https://github.com/Joyersch/sadet.autodb.api.git
